<%= link_to 'Login', new_user_session_path%>
<%=form_with url:charges_path do |f|%>
<%@product.each do |pro|%>
    <h1><%=pro.name%>
    <%pro.price%></h1>
    <%= f.submit 'submit'%>
<%end%>
<%end%>
<script>
    var stripe = Stripe('pk_test_9wmCyJg0ob3I19KkAvNMGnfd00U8sWfIil');
    var elements = stripe.elements();
</script>

<form id="payment-form">
  <div id="card-element">
    <!-- Elements will create input elements here -->
  </div>

  <!-- We'll put the error messages in this element -->
  <div id="card-errors" role="alert"></div>

  <button id="submit">Pay</button>
</form>
<script>
  var stripe = Stripe('pk_test_9wmCyJg0ob3I19KkAvNMGnfd00U8sWfIil');
  stripe.redirectToCheckout({
  sessionId: @session_object.id
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
</script>
